<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="row">
                <div class="col-6 p-3">
                    <h5 class="card-title">Harley-Davidson</h5>
                    <p class="card-text">Harley-Davidson iron 883</p>
                    <a href="#" class="btn btn-dark mt-4">Go somewhere</a>
                </div>
                <div class="col-6 mt-3">
                    <img src="https://motos-b60.kxcdn.com/sites/default/files/harley-davidson-iron-883.jpg"
                        width="190px">
                </div>
            </div>
        </div>
    </div>
</div>